# packages needed to run this repo
# python==3.7.4
numpy==1.17.2
pandas==0.25.1
bs4==3.8.0
plotly==4.6.0
scikit-learn==0.21.3
nltk==3.4.5
wordcloud==1.6.0
pyLDAvis==2.1.2
pickle==4.0
markovify==0.8.0
tensorflow==2.5.3
keras==2.3.1
flask==1.1.1
